<!DOCTYPE html>
<html>

<head>
    <title>CS 253 Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css" >
</head>

<body>
    <ul>
        <li class="linkButtons">
            <a class="navLinks" href="/blog/?" class="main-title">
                <h3>CS 253 Blog</h3>
            </a>
        </li>
        <li class="linkButtons">
            <a class="navLinks" href="/blog/newpost">
                <h3>Create Your Post</h3>
            </a>
        </li>
    </ul>

    <div id="content">
        {% block content %} 
        {% endblock %}
    </div>
</body>

</html>
